body{
  font-family: Roboto;
  font-size: medium;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/** 
Registration page styling
*/
.RegisterForm{
  width: 55%;
  margin: auto;
  margin-top: 6px;
  text-align: center;
}

.RegisterForm .h3{
  margin: auto;
  text-align: center;
}

.RegisterForm .btn{
  text-align: center;
  margin: auto;
}

/**
Footer starts here
*/

.footer{
  background-color: #282c34;
  color: whitesmoke;
  text-align: center;
}

/**
Users component styling start here
*/
.users{
  width: 80%;
  margin: auto;
  /* text-align: center; */
}
.users h3{
  align-self: center
}

.user{
  background-color: #c9ccd3;
  padding: 2px;
  margin: 3px;
  border-radius: 2%;
  text-align: center;
  text-emphasis: none;
}

.imagePage{
  background-color: #c9ccd3;
  margin: auto;
}

.imagePage h3{
  color: royalblue;
  text-align: center;
}